html {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    background-size: cover;
}

.find {
    display: flex;
    justify-content: center;
    margin: 2rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 2rem 1rem;
}

.find-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 1.95px 1.95px 2.6px rgba(0 0 0 / 15%);
}

.find-content .find-img img {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.find-text p {
    font-size: 1rem;
    flex-direction: row;
    justify-content: space-evenly;
}

.find-text-1 {
    box-shadow: 1px 10px 15px rgba(27, 27, 223, 0.2);
    border-radius: 8px;
    margin: 1rem;
    background-color: hsl(225, 100%, 94%);
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    display: flex;
}

.find-text-2 {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.find-text-4 a {
    font-size: 1.2rem;
}

.btn {
    padding: 0.5rem;
}

.btn button {
    border: none;
    width: 100%;
    padding: 1rem 2rem;
    border-radius: 6px;
    background-color: hsl(245, 75%, 52%);
    box-shadow: 1px 10px 15px rgba(27, 27, 223, 0.2);
}

.btn button a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
}

.find-text-img {
    box-shadow: 1.95px 1.95px 2.6px rgba(0 0 0 / 15%);
    border-radius: 50px;
}